html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
  box-sizing: border-box;
  background: #8a3232;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.banner {
  display: flex;
  justify-content: space-between;
  font-family: 'Paytone One', sans-serif;
  align-items: center;
  height: 48px;
  padding: 18px;
  margin: 0 auto;
  max-width: 1080px;
  background: #8a3232;
}
.banner .logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.banner .logo img {
  height: 48px;
  width: 48px;
}
.banner .logo .logo-name {
  margin-left: 8px;
  color: white;
}
.banner .logo .logo-name:hover {
  color: #bfbfbf;
}
.banner .menu {
  display: block;
  float: right;
}
.banner .menu .menu-item {
  text-transform: uppercase;
  width: auto;
  display: inline-block;
  max-width: 100%;
  padding: 4px 6px;
  color: white;
}
.banner .menu .menu-item:hover {
  color: #bfbfbf;
}
