body{
    font-family: 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    background: @redroon;
}

ul,ol {
    list-style-type: none;
}

a{
    text-decoration: none;
}


///////COLORS
@redroon: rgb(138, 50, 50);
@white: white;
