body{
    font-family: 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    background: @redroon;
    color: @white;
}

ul,ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: @white;
}


///////COLORS
@redroon: rgb(170, 68, 68);
@white: white;


//MEDIAS


@tablet: ~"(min-width: 575px)";
@tablet-large: ~"(min-width: 720px)";
@desktop: ~"(min-width: 1024px)";


// .OnDesktop(@rules){
//     @media screen and (min-width: @md_desktop){@rules(); }
// };

// .OnTablet(@rules){
//     @media screen and(max-width: @md_tablet) {@rules(); }
// };
// .OnMobile(@rules){
//     @media screen and (max-width:@md_mobile) {@rules(); }
// }



